* {
    box-sizing: border-box;
    font-family: "Hanken Grotesk", Arial, sans-serif;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Header section styles*/
header{
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
header>h1{
  font-weight: 400;
  font-size: 1.5rem;
  color: #F9F4DA;
}
header>p{
  color: #8E8E8E;
  max-width: 350px;
  font-size: .9rem;  
}
/* rule button styles (in header)*/
h1>.rules{
  width: 25px;
  height: 25px;
  background-color: #323232;
  font-weight: 500;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-size: 1.1rem;
  border: 1px solid white;
  margin-left: .6rem;
  color:white;
  cursor: pointer;
  box-shadow: 0px 0px 3px #D7D7D7;
border-radius: 50%;
transition: all .2s ease-in-out;
}
h1>.rules:hover{
  background-color: white;
  color: black;
}
/* rule modal style */
.modal{
  background-color: rgba(0, 0, 0, 0.719);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.innerModal{
  background-color: #2a2a2e;
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  max-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #e0e0e0;
  border-radius: 10px;
  border: 4px double #4a4a50;
  overflow: auto;
}
.up{
animation: fadeUp .3s ease-in-out forwards;
}
@keyframes fadeUp {
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
  
}
.down{
animation: fadeDown .3s ease-in-out ;
}
@keyframes fadeDown {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(100px);
  }  
}
.innerModal>button{
  position: absolute;
  top: .5rem;
  right:.5rem;
  width:1.8rem;
  height: 1.8rem;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #e0e0e0;
  transition: all .2s ease-in-out;

}
.innerModal>button:hover{
background-color: #e0e0e0;
color: black;
border: 1px solid black;
} 
.innerModal::-webkit-scrollbar{
  background-color: transparent;
  width: .5rem;
}
.innerModal::-webkit-scrollbar-thumb{
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 1px solid black;  
}
.guide{
  text-align: center;
  height: 100%;
  padding: 1rem 1.5rem;
}
.guide>#game-title>h2{
  color: #f9cd6f;
  margin-bottom: .5rem;
  text-shadow: -1px 0px black, 0px -1px black, 1px 0px black,0px 1px black;
}
.guide>h3{
   color:#66d9ef;
    text-shadow: -1px 0px black, 0px -1px black, 1px 0px black,0px 1px black;

}

/* status section style*/
section.statusMsg{
  color: #F9F4DA;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  height: 60px;
  animation: showUp .4s ease-out forwards;   
}
@keyframes showUp {
   0% {
    transform: translateY(50px);
    opacity: 0;
    
  }
  100% {
    transform: translateY(0);
    opacity: 1;
     
  }
}
section.statusMsg>h2{ 
   margin-block: 5px;
   font-size: 1.3rem;
}
section.statusMsg>p{
margin-bottom: 5px ;
margin-top: 0px;
}
section.lost{
  background-color:#BA2A2A ;
  animation: shake .5s ease-in-out ;  
}
section.won{
  background-color:#10A95B ;
  animation: pulse 1s ease infinite; 
}
@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(0, 255, 100, 0.7); }
  70% { transform: scale(1.05); box-shadow: 0 0 10px 10px rgba(0, 255, 100, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(0, 255, 100, 0); }
}
section.farewellTextMsg{
  background-color: #7A5EA7;
  border: 1px dashed #323232;
}

/* language styles*/
.chipContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3px;
  margin-top: 35px;
  max-width:350px;
  flex-wrap: wrap;
}
.chips{
  font-size: 1rem;
   padding: 5px;
   border-radius: 3px;
   margin-bottom: 3px;
    position: relative;
}
.chips.lost::before{
  content: 'âŒ';
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #020202c3;
}

/* hint style*/
 .hintArrayDisplay{
  margin-top: 1rem;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
 }
 .moveBwHints{
  background-color: #f9f4dad5;
  border: 2px solid black;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 50%;
 }
 .moveBwHints:hover{
  background-color:#f9f4da ;
 }
.displayedHint {
  display: inline-block;   
  background-color: #323232;
  color: #fff;
  justify-content: center;
  padding: .2rem .5rem;
  border-radius: 10px ;
  width: 250px; 
  text-align: center;
  overflow-x: auto;       
  white-space:nowrap; 
}
.displayedHint::-webkit-scrollbar{
height: .4rem;   
}
.help{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5rem;
  gap: 1rem;
 }
 .guess,.hint{
   padding: 5px 10px;
   color: #D7D7D7;
   display: flex;
   font-weight: 600;
   align-items: center;
 }
.hint{
  background-color: #323232;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(23, 23, 23);
}

/* Word style */
.word{
  display: flex;
  margin-top: 1.2rem;
  gap: 3px;
}
.WordCharacters{
  color:#F9F4DA;
  background-color: #323232;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
   width: 45px;
   height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F9F4DA;
}
/* style addition when failed to guess */
.failedToGuess{
  color: #EC5D49;
  animation:glow 1.5s ease-in-out infinite; 
}
@keyframes glow {
  0% { color: red; text-shadow: 0 0 5px red; }
  50% { color: #fd7b7b; text-shadow: 0 0 10px red; }
  100% { color: red; text-shadow: 0 0 5px red; }
}

/* keyboard style*/ 
.keyboard{
  margin-top: 1.8rem;
  margin-bottom: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 450px;
  gap: 8px;
}
.keyboard>button{
  width: 40px;
  height: 40px;  
  color: #1E1E1E; 
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border-width: 1px;
  background: #FCBA29;
  border: 1px solid #D7D7D7;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.keyboard>button:hover{
  transform: scale(1.05);
  background-color: #f9cd6f;
}
.keyboard>button:active{
  background-color: #f9cd6fe8;
}
.keyboard>button.wrong,.keyboard>button.wrong:disabled{
  background-color: #EC5D49;
   animation: shake .5s ease-in-out ;
  cursor: not-allowed;
} 
@keyframes shake {
   0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-3px); }
  40%, 80% { transform: translateX(3px); }  
}
.keyboard>button.right,.keyboard>button.right:disabled{
  background-color: #10A95B;
  cursor: not-allowed;
}
.keyboard>button.wrong:hover{
  background-color: #EC5D49;
  transform: scale(1);
}
.keyboard>button.right:hover{
  background-color: #10A95B; 
  transform: scale(1);
}
.keyboard>button:disabled{
  opacity: .4;
  background-color: #f9cd6f;
  transform: scale(1);
  cursor: not-allowed;
} 

/* new game button style */
.newGame{
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 228px;
  height: 40px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  animation: bounce .8s ease-in-out infinite;
}
@keyframes bounce {
  0%{
      transform: translateY(0px); 
  }
  25%{
    transform: translateY(1.5px);
  }
  50%{
    transform: translateY(.5px); 
  }
  100%{
    transform: translateY(0px);
  }
}
.newGame:hover{
  background-color: #11b4e5e9;
  transform: scale(1.01)
}
.newGame:active{
  background-color: #11b4e5d8;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: .8rem;
}
::-webkit-scrollbar-thumb{
  background-color: #f9cd6f;
  border-radius: 10px;
  border: 1px solid black;
}

@media (max-width:450px)
{
 .word{
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: center;
}
 
}
@media (min-width:450px) and (max-width:950px)
{
body{
padding-top: 0px;
align-items: center;
}
 
}

 